.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it's on top of other elements */
  }
  
  .popup form {
    display: flex;
    flex-direction: column;
  }
  
  .popup input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .popup button {
    padding: 10px;
    cursor: pointer;
    margin-left: 0px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }

  .popup button:hover {
    background-color: #0056b3;
  }
  