.bit__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bit__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
