.bit_storage{
    margin-left: 50px;
    margin-top: 60px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.bit_dash_btnn{

    margin-left: auto;
    margin-right: 20px;
}

.bit_dash_btnn button{
    cursor: pointer;
    /* margin-left: 2400%; */
    background-color: orangered;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: white;
}

.storage_title{
    display: flex;
}

.bit_storage_bigbox{
    /* display: flex; */
    background-color: #9ADAEE;
    border-radius: 20px;
    padding: 20px;
    /* flex-direction: row; */
}

.del_button{
    border: none;
    color: white;
    background-color: grey ;
    padding: 12px;
    border-radius: 30%;
    margin-left: 20px;
    cursor: pointer;


}

.col{
    display:flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.bit_storage_bigbox h2{
    color: black;
    font-size:60px;
    margin-left: 20px;
}

.bit_storage_smallbox{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 40px;
    border-radius: 40px;
    margin-top: 50px;
    font-size: 30px;
    margin-left: 30px;
    /* margin-left: -450px; */
}

.bit_storage_smallbox img{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bit_storage_smallbox_bottom{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: column;
}

.bit_storage_smallbox1_bottom h6{
    margin-left: 100px;
    font-size: 25px;
    margin-right: -20px;
}


@media screen and (max-width:1500px) {
    .bit_storage_bigbox{
        flex-direction: column;
        margin-right: -20px;
    }
    .bit_storage_smallbox1{
        margin-right: 225px;
        margin-left: 225px;
    }
    .bit_storage_smallbox2{
        margin-right: 225px;
        margin-left: 225px;
    }
    .bit_storage_smallbox3{
        margin-right: 225px;
        margin-left: 225px;
    }
}

@media screen and (max-width:750px) {
    .bit_storage_bigbox{
        flex-direction: column;
        margin-left: -38px;
        margin-right: 40px;
    }
    .bit_storage_smallbox1{
        margin-right: 20px;
        margin-left: 20px;
    }
    .bit_storage_smallbox2{
        margin-right: 20px;
        margin-left: 20px;
    }
    .bit_storage_smallbox3{
        margin-right: 20px;
        margin-left: 20px;
    }
}
